html{
	width: 100%;
	height: 100%;
}

section{
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
}

content{
	margin: auto;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
input{
	margin-top: 5px;
	margin-bottom: 5px;
}

footer{
	margin: auto;
	height: 15vh;
}